@mixin buttonColor($color-normal, $color-hover, $color-active, $prefix: "") {
  &#{$prefix} {
    border: 3px solid $color-normal;
  }
  &#{$prefix}:not(.bordered) {
    background-color: $color-normal;
  }
  &#{$prefix}.bordered {
    background-color: transparent;
  }
  &#{$prefix}:not(.bordered):hover {
    color: $fg-color-primary;
    background-color: $color-hover;
    border: 3px solid $color-hover;
  }
  &#{$prefix}.bordered:hover {
    color: $fg-color-primary;
    border: 3px solid $color-hover;
    background-color: transparent;
  }
  &#{$prefix}:not(.bordered):active {
    background-color: $color-active;
    border: 3px solid $color-active;
  }
  &#{$prefix}.bordered:active {
    border: 3px solid $color-active;
    background-color: transparent;
  }
}

.btn {
  cursor: pointer;
  color: $fg-color-secondary;
  font-weight: 500;
  border-radius: 0.9rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  position: relative;
  transition: padding-right .3s ease-out;

  @include buttonColor($color-primary-normal, $color-primary-hover, $color-primary-active, '');
  @include buttonColor($color-success-normal, $color-success-hover, $color-success-active, '.success');
  @include buttonColor($color-error-normal, $color-error-hover, $color-error-active, '.error');
  @include buttonColor($color-warn-normal, $color-warn-hover, $color-warn-active, '.warn');

  &.rounded {
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.loading, &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &.loading {
    padding-right: 40px;
    &:after {
      content: "";
      position: absolute;
      border-radius: 100%;
      right: 6px;
      top: 50%;
      width: 0;
      height: 0;
      margin-top: -2px;
      border: 2px solid rgba(255,255,255,0.5);
      border-left-color: #FFF;
      border-top-color: #FFF;
      animation: spin .6s infinite linear, grow .3s forwards ease-out;
    }
  }
}

.input {
  outline: none;
  border: none;

  border-radius: 0.9rem;
  padding: 1rem 1.5rem;
  background-color: $bg-color-dark;
  color: $fg-color-secondary;

  font-size: 1.2rem;
  &:focus {
    outline: none;
    border: none;
  }
}

.card {
  padding: 2rem;
  border-radius: 1rem;
  background-color: $bg-color-secondary;
  &.shadowed {
    box-shadow: 0 0 17px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 0 17px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 17px -2px rgba(0,0,0,0.75);
  }
}

@keyframes spin {
  to {
    transform: rotate(359deg);
  }
}
@keyframes grow {
  to {
    width: 14px;
    height: 14px;
    margin-top: -8px;
    right: 13px;
  }
}
